.main{
    padding: 1rem 10%;
}
.main *{
    font-family: 'Courier New', Courier, monospace;
}

.all_layer .layer_row {
    position: relative;
    display: inline-block;
    width:100%;
    margin-top: 1rem;

    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 1rem;
}
.all_layer .layer_row .select_parent_div{
    width: 50%;
    position: relative;

    background-color: var(--white);
    padding: 1rem;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}
.all_layer .layer_row select {
    appearance: none;
    padding: 1rem;
    font-size: 1rem;
    border: 2px solid var(--input_normal_border_color);
    border-radius: 5px;
    background-color: var(--whtie);
    cursor: pointer;
    outline: none;
    width: 100%;
}
.all_layer .layer_row select::-ms-expand {
    display: none;
}

.all_layer .layer_row select option {
    padding: 10px;
}
.all_layer .layer_row select:hover, .second_layer .layer_row select:focus {
    border-color: var(--input_border_focus_color);
    box-shadow: var(--input_border_box_shadow_focus_color);
    outline: none;
}

.third_layer .third_row_1 .select_parent_div{
    width: 100%;
}

.all_layer .layer_row .input-container {
    background-color: var(--white);
    padding: 1rem;
    width: 100%;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.all_layer .layer_row input {
    width: 100%;
    padding: 1rem;
    border: 2px solid var(--input_normal_border_color);
    border-radius: 5px;
    font-size: 16px;
    transition: border-color 0.3s, box-shadow 0.3s;
}

.all_layer .layer_row input:focus {
    border-color: var(--input_border_focus_color);
    box-shadow: var(--input_border_box_shadow_focus_color);
    outline: none;
}

.input_title_div{
    margin: 00rem 00rem 0.5rem 00rem;
}

.step_div{
    margin-top: 1rem;
    border:2px solid var(--secondary_color);
    border-radius: 10px;
    padding: 1rem;
    width: 100%;
}
.step_div .step_heading_div{
    
    width: 100%;
}
.step_name_arrow{
    border-radius: 10px 10px 0px 0px;
    padding: 0.5rem 1rem;
    background-color: var(--secondary_color);
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.step_heading_div b{
    color: var(--white);
}
.step_heading_div button{
    border: none;
    outline: none;
    background-color: transparent;
    font-size: 1rem;
}
.step_description{
    background-color: white;
    border: 2px solid var(--secondary_color);
    padding: 1rem;
    border-radius: 0px 00px 10px 10px;
}
.collapce_box{
    transition:0.5s;
    /* display:none; */
}

.eight_layer .eight_row_1 .input-container{
    display: flex;
    justify-content: space-between;
    gap: 1rem;
    align-items: center;
}

.eight_layer .eight_row_1 .input-container button{
    padding:1rem;
    border-radius: 10px;
    font-size: 1rem;
    width: 50%;
    cursor: pointer;
    font-weight: bold;
}
.eight_layer .eight_row_1 .input-container  .reset_button{
    background-color: var(--accent_color);
    color: var(--black);
}
.eight_layer .eight_row_1 .input-container  .preview_button{
    background-color: var(--input_border_focus_color);
    color: var(--white);
}